a(href=href,
target="_blank", rel="nofollow")
    img(src=src,
        style="width:88px; height:31px; border:0;", alt="Яндекс.Метрика", title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick=onclick)


